*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-decoration: none;
}

.name{
    position: fixed;
    float: left;
    margin: 36px 36px;
    color: white;
    font-size: 24px;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav ul{
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    height: 100px;
    color: white;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}

nav.black ul{
    background: #000;

}

nav ul li{
    display: inline-block;
    margin-top: 16px;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.main-section{
    background: url(/background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.texts{
    position: absolute;
    width: 95%;
    text-align: right;
    margin-top: 10%;
    color: white;
    line-height: 1.6;
    font-size: 20px;    
    word-spacing: 2px;
}

.yellow{
    color: #C1A981;
}

button{
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 40px;
    background-color: transparent;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: #C1A981;
    color: #C1A981;
    transition: all 0.5s ease-in-out;
    
}

button:hover {
    color: #fff;
    background-color: #C1A981;
}
button a{
    color: white;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: white;

}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.about-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    margin-bottom: 20px;
}

.projects{
    background: #294643;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: #C1A981;
    font-size: 34px;
    width: 100%;
    margin: 0px auto;
    text-align: center;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    color: white;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: white;
}

h3{
    color: #C1A981;
    font-size: 22px;
    margin-bottom: 16px;
}

.card p {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 26px;
}

.projects p{
    color: white;
    text-align: center;
}

.git{

    color: #F0B7F0;
}

footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #000;
    padding-top: 25px;
}

footer p{
    color: white;
}
.contact{
    text-decoration: none;
    color: #F0B7F0;
}

@media screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    .name{
        visibility: hidden;
    }
    nav ul{
        width: 100vw;
        text-align: center;
    }

    .texts{
        text-align: center;
        padding-top: 20%;
        font-size: 1rem;
        margin: 0 auto;
        width: 100%;
        height: 100vh;
    }
    .main-section{
        background: url(/background.jpg) center contain;
        background-position: 55% 45%;
    }
    button{
        position: absolute;
        bottom: 15%;
        left: 30%;
    }
    
    .about{
        display: block;
        width: 100vw;
    }
    .about-main{
        width: 100%;
        display: block;
        align-items: center;
        text-align: center;
    }
    .about-text{
        padding-top: 20px;
        width: auto;
        font-size: 14px;
    }

    .about img{
        width: 230px;
        height: auto;
    }

    .projects{
        padding: 50px 0;
        
    }

    .title h2{
        font-size: 24px;
    }

    .box{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card{
        min-height: 350px;
        width: auto;
        text-align: center;
    }
    .card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: white;
    }

    h3{
        color: #C1A981;
        font-size: 16px;
        margin-bottom: 16px;
    }

    .card p {
        color: white;
        font-size: 14px;
        line-height: 26px;
    }

    .githubP{
        color: white;
        text-align: center;
        font-size: 14px;
        width: 100%;
    }   
    footer{
        font-size: 14px;
        padding-top: 10px;
    } 
}
